.headerLogo{
    width: 100px;
}
.purpleHeader{
    background-color: rgb(142, 74, 142);
}
.textColor1{
    color: white;
}
.navbar-collapse{
    display: flex;
    flex-direction: column;
    justify-content: center;
}